/*body{
	background-image: url("http://cs-server.usc.edu:45678/hw/hw8/images/background.png");
}
.container{
	background-color: rgb(255,255,255);
}



.container{
	margin-top: 10px;
}

form{
	margin-bottom: 30px;
} 

#favoriteList{
  margin: 20px 0 0 0;
  padding: 30px 30px 50px 30px;
  background-color: black;
  border-radius: 10px;
}*/